<! DOCTYPE html>
<html lang="en">
    <head>
            <meta charset="utf-8">
            <title>Title</title>
    </head>
    <body>
        <div id="app">
            <h1>{{message}}</h1>
        </div>
        <div id="app-2">
            <span v-bind:title="message">
              Hover your mouse over me for a few seconds
              to see my dynamically bound title!
            </span>
          </div>
        <div id="app-3">
            <span v-if="seen">Now you see me</span>
        </div>
        <div id="app-4">
          <ol>
            <li v-for="todo in todos">
              {{ todo.text }}
            </li>
          </ol>
        </div>
        <div id="app-5">
            <p>{{ message }}</p>
            <button v-on:click="reverseMessage">Reverse Message</button>
        </div>
        <div id="app-6">
            <p>{{ message }}</p>
            <input v-model="message">
        </div>
        <div id="app-7">
            <h1>app-7</h1>
            <ol>
              <!--
                Now we provide each todo-item with the todo object
                it's representing, so that its content can be dynamic.
                We also need to provide each component with a "key",
                which will be explained later.
              -->
              <todo-item
                v-for="item in groceryList"
                
                v-bind:key="item.id"
                v-bind:todo="item">
              </todo-item>
            </ol>
        </div>
        <div id="example">
            <p>Original message: "{{ message }}"</p>
            <p>Computed reversed message: "{{ reversedMessage }}"</p>
        </div>
        
        <div id="demo">{{ fullName }}</div>  
        <div id="watch-example">
            <p>
              Ask a yes/no question:
              <input v-model="question">
            </p>
            <p>{{ answer }}</p>
        </div>
         <ol>
            <!-- Create an instance of the todo-item component -->
            <todo-item></todo-item>
          </ol>
        <script src="https://unpkg.com/vue@2.1.6/dist/vue.js"></script>
        <script type="text/javascript">
            new Vue({
                el:'#app',
                data:{
                    message:"welcome to my  world2!"
                }
            });
            var app2 = new Vue({
                el: '#app-2',
                data: {
                    message: 'You loaded this page on ' + new Date().toLocaleString()
                }
                })
                var app3 = new Vue({
                el: '#app-3',
                data: {
                    seen: true
                }
                
            })
            var app4 = new Vue({
                el: '#app-4',
                data: {
                    todos: [
                    { text: 'Learn JavaScript' },
                    { text: 'Learn Vue' },
                    { text: 'Build something awesome' }
                    ]
                }
            })
            var app5 = new Vue({
                el: '#app-5',
                data: {
                    message: 'Hello Vue.js!'
                },
                methods: {
                    reverseMessage: function () {
                    this.message = this.message.split('').reverse().join('')
                    }
                }
            })
            var app6 = new Vue({
            el: '#app-6',
            data: {
                message: 'Hello Vue!'
            }
            })
            Vue.component('todo-item', {
                props: ['todo'],
                template: '<li>{{ todo.text }}</li>'
              })
              var app7 = new Vue({
                el: '#app-7',
                data: {
                  groceryList: [
                    { id: 0, text: 'Vegetables' },
                    { id: 1, text: 'Cheese' },
                    { id: 2, text: 'Whatever else humans are supposed to eat' }
                  ]
                }
              })
            var vm = new Vue({
                el: '#example',
                data: {
                    message: 'Hello'
                },
                computed: {
                    // a computed getter
                    reversedMessage: function () {
                    // `this` points to the vm instance
                    return this.message.split('').reverse().join('')
                    }
                }
            })
            var vm = new Vue({
                el: '#demo',
                data: {
                    firstName: 'Foo',
                    lastName: 'Bar',
                    fullName: 'Foo Bar'
                },
                watch: {
                    firstName: function (val) {
                    this.fullName = val + ' ' + this.lastName
                    },
                    lastName: function (val) {
                    this.fullName = this.firstName + ' ' + val
                    }
                }
                })
        </script>
        <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
        <script>
        var watchExampleVM = new Vue({
          el: '#watch-example',
          data: {
            question: '',
            answer: 'I cannot give you an answer until you ask a question!'
          },
          watch: {
            // whenever question changes, this function will run
            question: function (newQuestion) {
              this.answer = 'Waiting for you to stop typing...'
              this.getAnswer()
            }
          },
          methods: {
            // _.debounce is a function provided by lodash to limit how
            // often a particularly expensive operation can be run.
            // In this case, we want to limit how often we access
            // yesno.wtf/api, waiting until the user has completely
            // finished typing before making the ajax request. To learn
            // more about the _.debounce function (and its cousin
            // _.throttle), visit: https://lodash.com/docs#debounce
            getAnswer: _.debounce(
              function () {
                if (this.question.indexOf('?') === -1) {
                  this.answer = 'Questions usually contain a question mark. ;-)'
                  return
                }
                this.answer = 'Thinking...'
                var vm = this
                axios.get('https://yesno.wtf/api')
                  .then(function (response) {
                    vm.answer = _.capitalize(response.data.answer)
                  })
                  .catch(function (error) {
                    vm.answer = 'Error! Could not reach the API. ' + error
                  })
              },
              // This is the number of milliseconds we wait for the
              // user to stop typing.
              500
            )
          }
        })
        </script>
    </body>
   
</html>