<! DOCTYPE html>
<html lang="en">
    <head>
            <meta charset="utf-8">
            <title>Title</title>
    </head>
    <body>
        <div id="app">
            <h1>{{message}}</h1>
        </div>
        <div id="app-2">
            <span v-bind:title="message">
              Hover your mouse over me for a few seconds
              to see my dynamically bound title!
            </span>
          </div>
        <div id="app-3">
            <span v-if="seen">Now you see me</span>
        </div>
        <div id="app-4">
          <ol>
            <li v-for="todo in todos">
              {{ todo.text }}
            </li>
          </ol>
        </div>
        <div id="app-5">
            <p>{{ message }}</p>
            <button v-on:click="reverseMessage">Reverse Message</button>
        </div>
        <div id="app-6">
            <p>{{ message }}</p>
            <input v-model="message">
        </div>
        <div id="app-7">
            <h1>app-7</h1>
            <ol>
              <!--
                Now we provide each todo-item with the todo object
                it's representing, so that its content can be dynamic.
                We also need to provide each component with a "key",
                which will be explained later.
              -->
              <todo-item
                v-for="item in groceryList"
                
                v-bind:key="item.id"
                v-bind:todo="item">
              </todo-item>
            </ol>
        </div>
        <div id="example">
            <p>Original message: "{{ message }}"</p>
            <p>Computed reversed message: "{{ reversedMessage }}"</p>
        </div>
        
        <div id="demo">{{ fullName }}</div>  
        <div id="watch-example">
            <p>
              Ask a yes/no question:
              <input v-model="question">
            </p>
            <p>{{ answer }}</p>
        </div>
        <div v-bind:class="classObject"></div>
        
        <ul id="v-for-object" class="demo">
            <li v-for="(value, key) in object">
                {{ key }}: {{ value }}
            </li>
          </ul>
          <div v-if="Math.random() > 0.5">
            Now you see me
          </div>
          <div v-else>
            Now you don't
          </div>
          <div id="example-1">
            <button v-on:click="counter += 1">Add 1</button>
            <p>The button above has been clicked {{ counter }} times.</p>
          </div>
          <div id="example-al">
            <!-- `greet` is the name of a method defined below -->
            <button v-on:click="greet">Greet</button>
          </div>
          <div id="example-3">
                <button v-on:click="say('hi')">Say hi</button>
                <button v-on:click="say('what')">Say what</button>
                <button v-on:click="warn('Form cannot be submitted yet.', $event)">
                        Submit
                </button>
            <input v-on:keyup.delete="submit">
            <input v-model="message" placeholder="edit me">
            <p>Message is: {{ message }}</p>
            
          </div>
         
        <template v-if="loginType === 'username'">
            <label>Username</label>
            <input placeholder="Enter your username" key="username-input">
          </template>
          <template v-else>
            <label>Email</label>
            <input placeholder="Enter your email address" key="email-input">
          </template>
         <ol>
            <!-- Create an instance of the todo-item component -->
            <todo-item></todo-item>
          </ol>
        <script src="https://unpkg.com/vue@2.1.6/dist/vue.js"></script>
        <script type="text/javascript">
            new Vue({
                el:'#app',
                data:{
                    message:"welcome to my  world2!"
                }
            });
            var app2 = new Vue({
                el: '#app-2',
                data: {
                    message: 'You loaded this page on ' + new Date().toLocaleString()
                }
                })
                var app3 = new Vue({
                el: '#app-3',
                data: {
                    seen: true
                }
                
            })
            var app4 = new Vue({
                el: '#app-4',
                data: {
                    todos: [
                    { text: 'Learn JavaScript' },
                    { text: 'Learn Vue' },
                    { text: 'Build something awesome' }
                    ]
                }
            })
            var app5 = new Vue({
                el: '#app-5',
                data: {
                    message: 'Hello Vue.js!'
                },
                methods: {
                    reverseMessage: function () {
                    this.message = this.message.split('').reverse().join('')
                    }
                }
            })
            var app6 = new Vue({
            el: '#app-6',
            data: {
                message: 'Hello Vue!'
            }
            })
            Vue.component('todo-item', {
                props: ['todo'],
                template: '<li>{{ todo.text }}</li>'
              })
              var app7 = new Vue({
                el: '#app-7',
                data: {
                  groceryList: [
                    { id: 0, text: 'Vegetables' },
                    { id: 1, text: 'Cheese' },
                    { id: 2, text: 'Whatever else humans are supposed to eat' }
                  ]
                }
              })
            var vm = new Vue({
                el: '#example',
                data: {
                    message: 'Hello'
                },
                computed: {
                    // a computed getter
                    reversedMessage: function () {
                    // `this` points to the vm instance
                    return this.message.split('').reverse().join('')
                    }
                }
            })
            var vm = new Vue({
                el: '#demo',
                data: {
                    firstName: 'Foo',
                    lastName: 'Bar',
                    fullName: 'Foo Bar'
                },
                watch: {
                    firstName: function (val) {
                    this.fullName = val + ' ' + this.lastName
                    },
                    lastName: function (val) {
                    this.fullName = this.firstName + ' ' + val
                    }
                }
                })
            var example2 = new Vue({
                el: '#example-al',
                    data: {
                        name: 'Vue.js'
                    },
                    // define methods under the `methods` object
                    methods: {
                        greet: function (event) {
                        // `this` inside methods points to the Vue instance
                        alert('Hello ' + this.name + '!')
                        // `event` is the native DOM event
                        if (event) {
                            alert(event.target.tagName)
                        }
                        }
                    }
                })
        </script>
        <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
        <script>
        var watchExampleVM = new Vue({
          el: '#watch-example',
          data: {
            question: '',
            answer: 'I cannot give you an answer until you ask a question!'
          },
          watch: {
            // whenever question changes, this function will run
            question: function (newQuestion) {
              this.answer = 'Waiting for you to stop typing...'
              this.getAnswer()
            }
          },
          methods: {
            // _.debounce is a function provided by lodash to limit how
            // often a particularly expensive operation can be run.
            // In this case, we want to limit how often we access
            // yesno.wtf/api, waiting until the user has completely
            // finished typing before making the ajax request. To learn
            // more about the _.debounce function (and its cousin
            // _.throttle), visit: https://lodash.com/docs#debounce
            getAnswer: _.debounce(
              function () {
                if (this.question.indexOf('?') === -1) {
                  this.answer = 'Questions usually contain a question mark. ;-)'
                  return
                }
                this.answer = 'Thinking...'
                var vm = this
                axios.get('https://yesno.wtf/api')
                  .then(function (response) {
                    vm.answer = _.capitalize(response.data.answer)
                  })
                  .catch(function (error) {
                    vm.answer = 'Error! Could not reach the API. ' + error
                  })
              },
              // This is the number of milliseconds we wait for the
              // user to stop typing.
              500
            )
          }
        })
        var example2 = new Vue({
                el: '#example-2',
                data: {
                    parentMessage: 'Parent',
                    items: [
                    { message: 'Foo' },
                    { message: 'Bar' }
                    ]
                }
                })
        new Vue({
                el: '#v-for-object',
                data: {
                    object: {
                    firstName: 'John',
                    lastName: 'Doe',
                    age: 30
                    }
                }
                })
                var example1 = new Vue({
                    el: '#example-1',
                    data: {
                        counter: 0
                    }
                    })
        new Vue({
                el: '#example-3',
                data:{
                    message:""
                },
                methods: {
                    say: function (message) {
                    alert(message)
                    },
                    warn: function (message, event) {
                        // now we have access to the native event
                        if (event) event.preventDefault()
                        alert(message)
                    },
                    submit: function () {
                    alert('submit')
                    },
                }
                })
        
        </script>
    </body>
   
</html>